{% extends 'groupme_app/base.html' %}
{% block title %}Create Section{% endblock %}

{% block content %}

<div id="createclass-page1">
    <div class="input-home">
        <div>
            <h2 class="input-label"> Create a Class </h2>
        </div>
        <div>
            <input id="input-classname" type="text" placeholder="Enter class name">
            <button id="input-classname-submit"> Enter </button>
        </div>
    </div>
</div>
<div id="createclass-page2">
    <div class="input-home">
        <div>
            <h2 class="input-label"> Set the time schedule </h2>
        </div>
        <div>
            <p>Day</p>
            <select id="start-day">
                <option id="start-sunday" value="Sunday">Sunday</option>
                <option id="start-monday" value="Monday">Monday</option>
                <option id="start-tuesday" value="Tuesday">Tuesday</option>
                <option id="start-wednesday" value="Wednesday">Wednesday</option>
                <option id="start-thursday" value="Thursday">Thursday</option>
                <option id="start-friday" value="Friday">Friday</option>
                <option id="start-saturday" value="Saturday">Saturday</option>
            </select>
            <p>to</p>
            <select id="end-day">
                <option id="end-sunday" value="Sunday">Sunday</option>
                <option id="end-monday" value="Monday">Monday</option>
                <option id="end-tuesday" value="Tuesday">Tuesday</option>
                <option id="end-wednesday" value="Wednesday">Wednesday</option>
                <option id="end-thursday" value="Thursday">Thursday</option>
                <option id="end-friday" value="Friday">Friday</option>
                <option id="end-saturday" value="Saturday">Saturday</option>
            </select>
        </div>
        <div>
            <p>Time</p>
            <select id="start-time">
                
            </select>
            <p>to</p>
            <select id="end-time">
                
            </select>
        </div>
    </div>
</div>

{% endblock %}