<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='/GroupMeIcon.svg') }}" height="30" alt="Logo">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title> {% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <style>
            a, p, input, h1, h3, h4, h5, td, th,
            button[type="submit"], 
            input[type="text"], 
            input[type="number"] {
                font-family: "Quicksand";
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% block scripts %} 
        {% endblock %}
    </head>

    <body class="d-flex flex-column" style="height: 100%">
        <div>
            <nav class="navbar navbar-light bg-transparent">
                <a class="navbar-brand px-5 pt-4" href="/">
                    <img src="{{ url_for('static', path='/GroupMeLogo.svg') }}" height="30" alt="Logo">
                </a>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
    </body>
    <footer class="flex" style="position: relative;bottom: 0; width: 100%; padding-top: 10px;">
        <div class="flex flex-col justify-center items-center text-center text-sm">
            <p class="text-muted"> Made by Pardigle - vernalterrene </p>
        </div>
    </footer>
</html>