{% extends 'base.html' %}
{% block title %}Create Student{% endblock %}
{% block scripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const passcode = "{{ passcode }}";

                // Enable to quickly allow students to rejoin classes.
                /*
                const storedStudentID = localStorage.getItem(passcode);

                if (storedStudentID) {
                    //window.location.href = `/${passcode}/${storedStudentID}`;
                }
                */

                document.getElementById('create-student-form').onsubmit = function() {
                    event.preventDefault();
                    
                    const name = document.getElementById('create-student-name').value;
                    const capitalizedName = name.charAt(0).toUpperCase() + name.slice(1);
                    const contact = document.getElementById('create-student-contact').value;

                    const newStudent = {
                        displayName: capitalizedName,
                        contactDetails: contact,
                    }

                    fetch(`/api/${passcode}/create_student`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(newStudent)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data) {
                            const student_id = data["student_id"];
                            localStorage.setItem(passcode, student_id);
                            window.location.href = `/${passcode}/${student_id}`;
                        } else {
                            var errorToastElement = document.getElementById('errorToast');
                            var errorMessage = new bootstrap.Toast(errorToastElement);
                            errorMessage.show();
                        }
                    });
                }
            })
        </script>
{% endblock %}
{% block content %}
<content class="d-flex justify-content-center align-items-center flex-grow-1" style="margin-top: -3%;">
    <div class="text-center"> 
        <h5> How do you want to be displayed as? </h5>
        <form class="form" method="post" id="create-student-form">
            <input class="form-control my-2" id="create-student-name" type="text" placeholder="Display Name" required>
            <input class="form-control my-2" id="create-student-contact" type="text" placeholder="Contact Details" required>
        <button class="btn btn-outline-success w-100" id="create-student-submit" type="submit"> Join </button>
        </form>
    </div>
</content>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2;">
    <div id="errorToast" class="toast align-items-center border-0 bg-warning text-white" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
        <div class="d-flex">
            <div class="toast-body fs-6 fw-semibold">
                Class is full.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endblock %}