<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Create Section </title>
    </head>
    <body>
        <form id="create-section-form">
            <input id="create-section-name" type="text" placeholder="Name">
            <input id="create-section-description" type="text" placeholder="Description">
            <input id="create-section-maxsize" type="number" placeholder="Max Size">
            <button id="create-section-submit" type="submit"> Create </button>
        </form>
    </body>
</html>