<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <title> Create Student </title>
    </head>
    <body>
        <form method="post" id="create-student-form">
            <input id="create-student-name" type="text" placeholder="Name">
            <input id="create-student-contact" type="text" placeholder="Description">
            <button id="create-student-submit" type="submit"> Submit </button>
        </form>
    </body>
</html>