{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block scripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {

                // Entered passcode -> Verify if passcode exists -> Redirect student to create_student url.
                document.getElementById('join-section-form').onsubmit = function(event) {
                    event.preventDefault();
                    const passcode = document.getElementById('passcode').value;
                    if (!passcode.includes("/")) {
                        fetch(`/api/${passcode}/verify`)
                        .then(response => {
                            if (!response.ok) {
                                return {"result":"error"};
                            }
                            return response.json();
                        })
                        .then(data => {
                            const outcome = data["result"];
                            if (outcome === true) {
                                window.location.href = `${passcode}/create_student`;
                            } else {
                                var alertToastElement = document.getElementById('alertToast');
                                var alertMessage = new bootstrap.Toast(alertToastElement);
                                alertMessage.show();
                            }
                        })
                        .catch(error => {
                            console.error("Error fetching student schedule.", error);
                        });
                    } else {
                        var alertToastElement = document.getElementById('alertToast');
                        var alertMessage = new bootstrap.Toast(alertToastElement);
                        alertMessage.show();
                    }
                }
            });
        </script>
{% endblock %}
{% block content %}
    <content class="d-flex justify-content-center align-items-center flex-grow-1" style="margin-top: -3%;">
        <div class="text-center"> 
            <h5> Join a Class </h5>
            <form class="d-flex justify-content-center my-2" method="post" id="join-section-form">
                <input class="form-control mx-1" id="passcode" type="text" placeholder="Enter your class code" required>
                <button class="btn btn-outline-success" type="submit"> Join </button>
            </form>
            <div>
                <a class="text-success" href="/create_section"> or create a new section </a>
            </div>
        </div>
    </content>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2;">
        <div id="alertToast" class="toast align-items-center border-0 bg-danger text-white" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="d-flex">
                <div class="toast-body fs-6 fw-semibold">
                    Invalid class code.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
{% endblock %}