{% extends 'base.html' %}
{% block title %}View Groupmates{% endblock %}
{% block scripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {

                // Press search -> Fetch api for cumulative/consecutive -> Appends ranked classmates if any.
                document.getElementById("search-group").onclick = function(event) {
                    var groupmatesTable = document.getElementById('groupmate-rank-table');
                    var method = "group_cumulative";
                    var thTime = document.getElementById('th-time');
                    for (let i = groupmatesTable.rows.length - 1; i > 0; i--) {
                        groupmatesTable.deleteRow(i);
                    }
                    if (document.getElementById("method-select").value === "cumulative") {
                        method = "group_cumulative";
                        thTime.innerText = "Total Similar Hours";
                    } else if (document.getElementById("method-select").value === "consecutive") {
                        method = "group_consecutive";
                        thTime.innerText = "Largest Chunk in Hours";
                    }
                    fetch(`/api/{{ passcode }}/{{ student_id }}/${method}`)
                    .then(response => response.json())
                    .then(data => {
                        const rankingList = data["data"];
                        var rank = 1;
                        function addToGroupList(item) {
                            var groupmateTr = document.createElement('tr');
                            var groupmateRank = document.createElement('td');
                            var groupmateName = document.createElement('td');
                            var groupmateHours = document.createElement('td');
                            var groupmateContact = document.createElement('td');
                            groupmateRank.appendChild(document.createTextNode(rank));
                            groupmateName.appendChild(document.createTextNode(item[0]));
                            groupmateHours.appendChild(document.createTextNode(item[1]));
                            groupmateContact.appendChild(document.createTextNode(item[2]));
                            groupmateTr.appendChild(groupmateRank);
                            groupmateTr.appendChild(groupmateName);
                            groupmateTr.appendChild(groupmateHours);
                            groupmateTr.appendChild(groupmateContact);
                            groupmatesTable.appendChild(groupmateTr);
                            rank++;

                            groupmateTr.style.cursor = 'pointer'; // indicate that its clickable
                            groupmateTr.addEventListener('click', function(){
                                
                                let cells = document.querySelectorAll("#time-table .time-cell");
                                var popupBlock = document.getElementById("popup")
                                var nameText = document.getElementById("name-popup");
                                var contactText = document.getElementById("contact-popup");
                                nameText.innerText = item[0];
                                contactText.innerText = item[2];

                                
                                popupBlock.style.display = 'block';

                                var closeButton = document.getElementById("close-popup");
                                    if(closeButton) {
                                        closeButton.onclick = function() {
                                            popupBlock.style.display = 'none';
                                        };
                                    }
                            })
                        }
                        rankingList.forEach(addToGroupList);
                    });
                }
            });
        </script>
                <style>
            .time-table {
                font-size: 12px;
                display: flex;
                justify-content: center;
            }

            .time-table td {
                height: 12px;
            }

            .time-cell {
                height: 15px;
                width: 100px;
                text-align:center;
                vertical-align:middle;
                background-color:azure;
                border:1px solid white;
            }

            .time-label, .days_header {
                background-color: white;
            }
            
            .time-table td.my_nonoverlap {
                background-color: lightblue;
            }

            .time-table td.groupmate_nonoverlap {
                background-color: palegoldenrod;
            }

            .time-table td.overlap {
                background-color: springgreen;
            }

            #popup {
                z-index: 2;
                width: 65%;
                height: 85%;
                position: fixed;
                border-radius: 20px;
                background-color: white;
                box-shadow: 1px 10px 20px rgba(0,0,0,0.2);
                padding: 2rem;
                display: none;
                overflow-y: scroll;
            }

            #close-popup {
                margin-top: 30px;
                margin-top: 30px;
                top: 5px;
                right: 5px;
                cursor: pointer;
                position: absolute;
            }
        </style>

{% endblock %}
{% block content %}
    <content class="d-flex justify-content-center align-items-center flex-grow-1">

        <div id="passcode-view-screen" class="text-center">
            <h5> Best Groupmate Contenders </h5>
            <div class="d-flex justify-content-center align-items-center">
                <select class="form-select" id="method-select">
                    <option value="cumulative"> Cumulative </option>
                    <option value="consecutive"> Consecutive </option>
                </select>
                <button class="btn btn-outline-success mx-2" id="search-group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <table class="table" id="groupmate-rank-table">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Name </td>
                            <th scope="col" id="th-time"> Similar Hours </td>
                            <th scope="col"> Contact Details </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="my-2">
                <a href="/{{ passcode }}/{{ student_id }}">
                    <button class="btn btn-outline-success w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                        </svg>
                        Return
                    </button>
                </a>
            </div>
        </div>

        <div id="popup">
            <p>Groupmate Details</p>
            <h3 id="name-popup"></h3>
            <p id="contact-popup"></p>
            <button class="btn btn-danger" id="close-popup">x</button>
            <table class="time-table">
                <tr class="text-center">
                    <td class="days-header"></td>
                    <td class="days-header">Mon</td>
                    <td class="days-header">Tues</td>
                    <td class="days-header">Wed</td>
                    <td class="days-header">Thurs</td>
                    <td class="days-header">Fri</td>
                    <td class="days-header">Sat</td>
                    <td class="days-header">Sun</td>
                </tr>
                <tr>
                    <td class="time-label text-end">8 AM</td>
                    <td class="time-cell" day="0-" time="0800-0830"></td>
                    <td class="time-cell" day="1-" time="0800-0830"></td>
                    <td class="time-cell" day="2-" time="0800-0830"></td>
                    <td class="time-cell" day="3-" time="0800-0830"></td>
                    <td class="time-cell" day="4-" time="0800-0830"></td>
                    <td class="time-cell" day="5-" time="0800-0830"></td>
                    <td class="time-cell" day="6-" time="0800-0830"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="0830-0900"></td>
                    <td class="time-cell" day="1-" time="0830-0900"></td>
                    <td class="time-cell" day="2-" time="0830-0900"></td>
                    <td class="time-cell" day="3-" time="0830-0900"></td>
                    <td class="time-cell" day="4-" time="0830-0900"></td>
                    <td class="time-cell" day="5-" time="0830-0900"></td>
                    <td class="time-cell" day="6-" time="0830-0900"></td>
                </tr>
                <tr>
                    <td class="time-label">9 AM</td>
                    <td class="time-cell" day="0-" time="0900-0930"></td>
                    <td class="time-cell" day="1-" time="0900-0930"></td>
                    <td class="time-cell" day="2-" time="0900-0930"></td>
                    <td class="time-cell" day="3-" time="0900-0930"></td>
                    <td class="time-cell" day="4-" time="0900-0930"></td>
                    <td class="time-cell" day="5-" time="0900-0930"></td>
                    <td class="time-cell" day="6-" time="0900-0930"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="0930-1000"></td>
                    <td class="time-cell" day="1-" time="0930-1000"></td>
                    <td class="time-cell" day="2-" time="0930-1000"></td>
                    <td class="time-cell" day="3-" time="0930-1000"></td>
                    <td class="time-cell" day="4-" time="0930-1000"></td>
                    <td class="time-cell" day="5-" time="0930-1000"></td>
                    <td class="time-cell" day="6-" time="0930-1000"></td>
                </tr>
                <tr>
                    <td class="time-label">10 AM</td>
                    <td class="time-cell" day="0-" time="1000-1030"></td>
                    <td class="time-cell" day="1-" time="1000-1030"></td>
                    <td class="time-cell" day="2-" time="1000-1030"></td>
                    <td class="time-cell" day="3-" time="1000-1030"></td>
                    <td class="time-cell" day="4-" time="1000-1030"></td>
                    <td class="time-cell" day="5-" time="1000-1030"></td>
                    <td class="time-cell" day="6-" time="1000-1030"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1030-1100"></td>
                    <td class="time-cell" day="1-" time="1030-1100"></td>
                    <td class="time-cell" day="2-" time="1030-1100"></td>
                    <td class="time-cell" day="3-" time="1030-1100"></td>
                    <td class="time-cell" day="4-" time="1030-1100"></td>
                    <td class="time-cell" day="5-" time="1030-1100"></td>
                    <td class="time-cell" day="6-" time="1030-1100"></td>
                </tr>
                <tr>
                    <td class="time-label">11 AM</td>
                    <td class="time-cell" day="0-" time="1100-1130"></td>
                    <td class="time-cell" day="1-" time="1100-1130"></td>
                    <td class="time-cell" day="2-" time="1100-1130"></td>
                    <td class="time-cell" day="3-" time="1100-1130"></td>
                    <td class="time-cell" day="4-" time="1100-1130"></td>
                    <td class="time-cell" day="5-" time="1100-1130"></td>
                    <td class="time-cell" day="6-" time="1100-1130"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1130-1200"></td>
                    <td class="time-cell" day="1-" time="1130-1200"></td>
                    <td class="time-cell" day="2-" time="1130-1200"></td>
                    <td class="time-cell" day="3-" time="1130-1200"></td>
                    <td class="time-cell" day="4-" time="1130-1200"></td>
                    <td class="time-cell" day="5-" time="1130-1200"></td>
                    <td class="time-cell" day="6-" time="1130-1200"></td>
                </tr>
                <tr>
                    <td class="time-label">12 PM</td>
                    <td class="time-cell" day="0-" time="1200-1230"></td>
                    <td class="time-cell" day="1-" time="1200-1230"></td>
                    <td class="time-cell" day="2-" time="1200-1230"></td>
                    <td class="time-cell" day="3-" time="1200-1230"></td>
                    <td class="time-cell" day="4-" time="1200-1230"></td>
                    <td class="time-cell" day="5-" time="1200-1230"></td>
                    <td class="time-cell" day="6-" time="1200-1230"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1230-1300"></td>
                    <td class="time-cell" day="1-" time="1230-1300"></td>
                    <td class="time-cell" day="2-" time="1230-1300"></td>
                    <td class="time-cell" day="3-" time="1230-1300"></td>
                    <td class="time-cell" day="4-" time="1230-1300"></td>
                    <td class="time-cell" day="5-" time="1230-1300"></td>
                    <td class="time-cell" day="6-" time="1230-1300"></td>
                </tr>
                <tr>
                    <td class="time-label">1 PM</td>
                    <td class="time-cell" day="0-" time="1300-1330"></td>
                    <td class="time-cell" day="1-" time="1300-1330"></td>
                    <td class="time-cell" day="2-" time="1300-1330"></td>
                    <td class="time-cell" day="3-" time="1300-1330"></td>
                    <td class="time-cell" day="4-" time="1300-1330"></td>
                    <td class="time-cell" day="5-" time="1300-1330"></td>
                    <td class="time-cell" day="6-" time="1300-1330"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1330-1400"></td>
                    <td class="time-cell" day="1-" time="1330-1400"></td>
                    <td class="time-cell" day="2-" time="1330-1400"></td>
                    <td class="time-cell" day="3-" time="1330-1400"></td>
                    <td class="time-cell" day="4-" time="1330-1400"></td>
                    <td class="time-cell" day="5-" time="1330-1400"></td>
                    <td class="time-cell" day="6-" time="1330-1400"></td>
                </tr>
                <tr>
                    <td class="time-label">2 PM</td>
                    <td class="time-cell" day="0-" time="1400-1430"></td>
                    <td class="time-cell" day="1-" time="1400-1430"></td>
                    <td class="time-cell" day="2-" time="1400-1430"></td>
                    <td class="time-cell" day="3-" time="1400-1430"></td>
                    <td class="time-cell" day="4-" time="1400-1430"></td>
                    <td class="time-cell" day="5-" time="1400-1430"></td>
                    <td class="time-cell" day="6-" time="1400-1430"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1430-1500"></td>
                    <td class="time-cell" day="1-" time="1430-1500"></td>
                    <td class="time-cell" day="2-" time="1430-1500"></td>
                    <td class="time-cell" day="3-" time="1430-1500"></td>
                    <td class="time-cell" day="4-" time="1430-1500"></td>
                    <td class="time-cell" day="5-" time="1430-1500"></td>
                    <td class="time-cell" day="6-" time="1430-1500"></td>
                </tr> 
                <tr>
                    <td class="time-label">3 PM</td>
                    <td class="time-cell" day="0-" time="1500-1530"></td>
                    <td class="time-cell" day="1-" time="1500-1530"></td>
                    <td class="time-cell" day="2-" time="1500-1530"></td>
                    <td class="time-cell" day="3-" time="1500-1530"></td>
                    <td class="time-cell" day="4-" time="1500-1530"></td>
                    <td class="time-cell" day="5-" time="1500-1530"></td>
                    <td class="time-cell" day="6-" time="1500-1530"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1530-1600"></td>
                    <td class="time-cell" day="1-" time="1530-1600"></td>
                    <td class="time-cell" day="2-" time="1530-1600"></td>
                    <td class="time-cell" day="3-" time="1530-1600"></td>
                    <td class="time-cell" day="4-" time="1530-1600"></td>
                    <td class="time-cell" day="5-" time="1530-1600"></td>
                    <td class="time-cell" day="6-" time="1530-1600"></td>
                </tr>
                <tr>
                    <td class="time-label">4 PM</td>
                    <td class="time-cell" day="0-" time="1600-1630"></td>
                    <td class="time-cell" day="1-" time="1600-1630"></td>
                    <td class="time-cell" day="2-" time="1600-1630"></td>
                    <td class="time-cell" day="3-" time="1600-1630"></td>
                    <td class="time-cell" day="4-" time="1600-1630"></td>
                    <td class="time-cell" day="5-" time="1600-1630"></td>
                    <td class="time-cell" day="6-" time="1600-1630"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1630-1700"></td>
                    <td class="time-cell" day="1-" time="1630-1700"></td>
                    <td class="time-cell" day="2-" time="1630-1700"></td>
                    <td class="time-cell" day="3-" time="1630-1700"></td>
                    <td class="time-cell" day="4-" time="1630-1700"></td>
                    <td class="time-cell" day="5-" time="1630-1700"></td>
                    <td class="time-cell" day="6-" time="1630-1700"></td>
                </tr>
                <tr>
                    <td class="time-label">5 PM</td>
                    <td class="time-cell" day="0-" time="1700-1730"></td>
                    <td class="time-cell" day="1-" time="1700-1730"></td>
                    <td class="time-cell" day="2-" time="1700-1730"></td>
                    <td class="time-cell" day="3-" time="1700-1730"></td>
                    <td class="time-cell" day="4-" time="1700-1730"></td>
                    <td class="time-cell" day="5-" time="1700-1730"></td>
                    <td class="time-cell" day="6-" time="1700-1730"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1730-1800"></td>
                    <td class="time-cell" day="1-" time="1730-1800"></td>
                    <td class="time-cell" day="2-" time="1730-1800"></td>
                    <td class="time-cell" day="3-" time="1730-1800"></td>
                    <td class="time-cell" day="4-" time="1730-1800"></td>
                    <td class="time-cell" day="5-" time="1730-1800"></td>
                    <td class="time-cell" day="6-" time="1730-1800"></td>
                </tr>
                <tr>
                    <td class="time-label">6 PM</td>
                    <td class="time-cell" day="0-" time="1800-1830"></td>
                    <td class="time-cell" day="1-" time="1800-1830"></td>
                    <td class="time-cell" day="2-" time="1800-1830"></td>
                    <td class="time-cell" day="3-" time="1800-1830"></td>
                    <td class="time-cell" day="4-" time="1800-1830"></td>
                    <td class="time-cell" day="5-" time="1800-1830"></td>
                    <td class="time-cell" day="6-" time="1800-1830"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1830-1900"></td>
                    <td class="time-cell" day="1-" time="1830-1900"></td>
                    <td class="time-cell" day="2-" time="1830-1900"></td>
                    <td class="time-cell" day="3-" time="1830-1900"></td>
                    <td class="time-cell" day="4-" time="1830-1900"></td>
                    <td class="time-cell" day="5-" time="1830-1900"></td>
                    <td class="time-cell" day="6-" time="1830-1900"></td>
                </tr>
                <tr>
                    <td class="time-label">7 PM</td>
                    <td class="time-cell" day="0-" time="1900-1930"></td>
                    <td class="time-cell" day="1-" time="1900-1930"></td>
                    <td class="time-cell" day="2-" time="1900-1930"></td>
                    <td class="time-cell" day="3-" time="1900-1930"></td>
                    <td class="time-cell" day="4-" time="1900-1930"></td>
                    <td class="time-cell" day="5-" time="1900-1930"></td>
                    <td class="time-cell" day="6-" time="1900-1930"></td>
                </tr>
                <tr>
                    <td class="time-label"></td>
                    <td class="time-cell" day="0-" time="1930-2000"></td>
                    <td class="time-cell" day="1-" time="1930-2000"></td>
                    <td class="time-cell" day="2-" time="1930-2000"></td>
                    <td class="time-cell" day="3-" time="1930-2000"></td>
                    <td class="time-cell" day="4-" time="1930-2000"></td>
                    <td class="time-cell" day="5-" time="1930-2000"></td>
                    <td class="time-cell" day="6-" time="1930-2000"></td>
                </tr>
            </table>
        </div>
    </content>

{% endblock %}