<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <title> View Groupmates </title>
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('view-group-button').onclick = function(event) {
                    const algorithmSelected = document.getElementById("select-algorithm").value;
                    if (algorithmSelected === "cumulative") {
                        fetch("/api/{{ passcode }}/{{ student_id }}/group_cumulative")
                        .then(response => response.json())
                        .then(data => {
                            const rankingList = data["data"];
                            var groupmatesTable = document.getElementById('groupmate-rank-table');
                            function addToGroupList(item) {
                                var groupmateTr = document.createElement('tr');
                                var groupmateName = document.createElement('td');
                                var groupmateHours = document.createElement('td');
                                groupmateName.appendChild(document.createTextNode(item[0]));
                                groupmateHours.appendChild(document.createTextNode(item[1]));
                                groupmateTr.appendChild(groupmateName);
                                groupmateTr.appendChild(groupmateHours);
                                groupmatesTable.appendChild(groupmateTr);
                            }
                            rankingList.forEach(addToGroupList);
                        })
                    }
                }
            })
                

        </script>
    </head>
    <body>
        <select id="select-algorithm" aria-placeholder="Choose Method">
            <option value="cumulative"> Cumulative </option>
            <option value="chunks"> Chunks </option>
        </select>
        <button id="view-group-button"> View </button>
        <table id="groupmate-rank-table">
            <tr>
                <td> Name </td>
                <td> Similar Hours </td>
            </tr>
        </table>
    </body>
</html>