<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <title> View Groupmates </title>
        <script>

            document.addEventListener('DOMContentLoaded', function() {

            })

        </script>
    </head>
    <body>
        <table id="groupmate-rank-table">
            <tr>
                <td> Rank </td>
                <td> Name </td>
            </tr>
        </table>
    </body>
</html>